/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff8f3;
    color: #1a1a1a;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
    margin-right: 600px;
}

.logo {
    font-size: 40px;
    color: #ff6b5c;
}

.navbar nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #444;
    font-weight: 500;;
}

.navbar nav a:hover {
    color: #ff6b5c;
}

.hire-btn {
    background-color: #ff6b5c;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

/* ===== HERO ===== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}

.hero-left {
    max-width: 1000px;
    margin-top: 200px;
    margin-left: 150px;

}

.hero-left h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-left h1 span {
    color: #1f2b55;
}

.hero-left p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
}

.learn-btn {
    background-color: #ff6b5c;
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-right img {
    width: 360px;
    border-radius: 70%;
    margin-right: 100px;
    margin-top: 70px;
}

/* ===== ABOUT ===== */
#about {
    background-color: #1f2b55;
    color: #fff;
    padding: 80px 100px;
    margin-top: 300px;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 17px;
    line-height: 1.8;
}

/* ===== ACHIEVEMENTS ===== */
#achievements {
    padding: 100px;
}

#achievements h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.achievement-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.achievement-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.achievement-card h3 {
    color: #ff6b5c;
    margin-bottom: 12px;
}

/* ===== EVENTS ===== */
#events {
    padding: 100px;
    background-color: #fff;
}

#events h2 {
    text-align: center;
    font-size: 36px;
}

#events p {
    text-align: center;
    margin: 15px 0 50px;
    color: #555;
}

.event-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.event-card {
    background-color: #f7f7f7;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.event-card:hover {
    transform: translateY(-6px);
}

.event-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.caption {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
}

/* ===== FOOTER ===== */
footer {
    background-color: #cecece;
    color: #000000;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
}

